body {
	margin: 0px;
	background: white;
}

body > div {
	display: flex;
	flex-flow: row wrap;
}

body > div > header,nav,.main,aside,footer {
	background: #2E2E2E;
	border-radius: 5px;
	margin: 5px;
	padding: 20px;
}

body > div > header {
	background-color: #D63C3C;
	order: 1;
	height: 50px;
	flex: 0 1 100%;
}

body > div > nav {
	background-color: #475F77;
	order: 2;
	flex: 0 1 100%;
}

body > div > .main {
	background-color: #354B5E;
	order: 3;
	min-height: 250px;
	flex: 1;
}

body > div > aside {
	background-color: #587498;
	order: 4;
	flex: 0 1 100%;
}

body > div > footer {
	background-color: #D74B4B;
	order: 5;
	height: 100px;
	flex: 0 1 100%;
}



@media screen and (min-width: 48em)
{
	body {
		background-color: white;
	}

	body > div {
	display: flex;
	flex-flow: row wrap;
	min-width: 800px;
	}

	body > div > header,nav,.main,aside,footer {
		border-radius: 5px;
		margin: 5px;
		padding: 20px;
	}

	body > div > header {
		order: 1;
		height: 100px;
		flex: 0 1 100%;
	}

	body > div > nav {
		order: 2;
		flex: 0 1 200px;
	}

	body > div > .main {
		order: 3;
		min-height: 250px;
		flex: 1;
	}

	body > div > aside {
		order: 4;
		flex: 0 1 200px;
	}

	body > div > footer {
		order: 5;
		height: 100px;
		flex: 0 1 100%;
	}
}